@import "tailwindcss";

:root {
  --background: #F3F3F3;
  --foreground: #F3F3F3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.btn-primary{
  color: #333;
    background-color: #ffc000;
    background-image: linear-gradient(to bottom, #ffe854, #ffdb26);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffe854",endColorstr="#ffffdb26",GradientType=0);
    border-color: #e1bb23 #d3af21 #c5a31f #d3af21;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-weight: 600;
    border-radius: 3px;
    padding: 4px 10px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
    border-width: 1px;
}

.login-title{
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.checkbox-container {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      user-select: none;
      font-family: sans-serif;
    }

    /* Hide default checkbox */
    .checkbox-container input {
      display: none;
    }

    /* Custom checkbox box */
    .checkmark {
      width: 30px;
      height: 30px;
      border: 2px solid #555;
      border-radius: 4px;
      position: relative;
      transition: all 0.3s ease;
    }

    /* Checkmark tick */
    .checkmark::after {
      content: "";
      position: absolute;
      left: 30%;
      top: -25%;
      width: 14px;
      height: 28px;
      border: solid #20b110;
      border-width: 0 3px 3px 0;
      opacity: 0;
     transform: scale(0) rotate(45deg);
      transition: all 0.3s ease;
    }

    /* When checked */
    .checkbox-container input:checked + .checkmark::after {
      opacity: 1;
      transform: scale(1) rotate(45deg);
    }